<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=182.50.133.77;Initial Catalog=prabudhbharat;User ID=prabudh;Password=Prabudh@123"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="bhagya212001@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="bhagya212001@gmail.com" password="ptspxycxhlpucgmr" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="MERCHANT_KEY" value="4rSUUA"/>
    <add key="SALT" value="UOssuafMZyn3LqkKnCwKyGBLG94uY6kj"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="aarvinfotech@gmail.com"/>
    <add key="Pass" value="aarv2009#"/>
    <add key="Port" value="587"/>
    <!-- Message sending details-->
    <add key="senderId" value="MAHVVS"/>
    <add key="userID" value="GauravPatil493"/>
    <add key="password" value="123456"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/MintFDI" value="63974;True;7460;1;-8587077108414316115"/>
  </appSettings>
</configuration>